@import "tailwindcss";

@theme {
  --color-primary: #27AE60;
}

/* custom utility for auto-fit grid */
.grid-cols-auto {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.active hr {
  @apply block;
}

::-webkit-scrollbar {
  @apply hidden;
}
